body {
  margin: 20px;
}

/* 컴포넌트 */
.input-wrapper {
  --height: 48px;
  --gray: #dadada;
  --red: #ff1414;

  .input {
    border: 1px solid var(--gray);
    padding: 14px;
    inline-size: 460px;
    margin-bottom: 10px;

    input::placeholder {
      color: var(--gray);
      font-size: 0.875rem;
    }

    input {
      border: 0 none;
    }
  }

  p {
    color: var(--red);
    font-size: 0.75rem;
    margin-block: 7px;
  }
}

/* 에러 메시지 */
/* .input-wrapper .error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
} */

/* input이 invalid일 때 바로 뒤의 p 나타내기 */
/* .input input:invalid + .error {
  display: block;
} */

.login-button {
  --green: #03cf5d;

  background: var(--green);
  color: var(--white);
  block-size: 56px;
  border: 0 none;
  inline-size: 100%;
}

.login-hold input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  margin-right: 4px;
  cursor: pointer;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'><path d='M11.9764 23.4985C18.3541 23.4985 23.5242 18.3284 23.5242 11.9507C23.5242 5.57305 18.3541 0.402931 11.9764 0.402931C5.59877 0.402931 0.42865 5.57305 0.42865 11.9507C0.42865 18.3284 5.59877 23.4985 11.9764 23.4985Z' fill='white'/><path d='M12.0021 24.0043C9.62833 24.0043 7.30784 23.3004 5.3341 21.9815C3.36036 20.6627 1.82201 18.7883 0.913599 16.5952C0.00518517 14.402 -0.232497 11.9888 0.230608 9.66063C0.693713 7.33244 1.83681 5.19387 3.51534 3.51534C5.19387 1.83681 7.33244 0.693713 9.66063 0.230608C11.9888 -0.232497 14.402 0.00518517 16.5952 0.913599C18.7883 1.82201 20.6627 3.36036 21.9815 5.3341C23.3004 7.30784 24.0043 9.62833 24.0043 12.0021C24.0043 15.1853 22.7398 18.2381 20.4889 20.4889C18.2381 22.7398 15.1853 24.0043 12.0021 24.0043ZM12.0021 1.28593C9.88267 1.28593 7.8108 1.91443 6.04853 3.09194C4.28626 4.26945 2.91274 5.94309 2.10166 7.90122C1.29057 9.85935 1.07836 12.014 1.49184 14.0928C1.90533 16.1715 2.92595 18.0809 4.42464 19.5796C5.92332 21.0783 7.83277 22.0989 9.91151 22.5124C11.9902 22.9259 14.1449 22.7137 16.103 21.9026C18.0612 21.0915 19.7348 19.718 20.9123 17.9557C22.0898 16.1935 22.7183 14.1216 22.7183 12.0021C22.7183 9.16002 21.5893 6.43431 19.5796 4.42464C17.57 2.41496 14.8442 1.28593 12.0021 1.28593Z' fill='%23999999'/></svg>")
    no-repeat center/contain;
}

.login-hold input[type='checkbox']:checked {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'><path d='M23.9229 12.0021C23.9229 14.3609 23.2234 16.6666 21.9128 18.6277C20.6023 20.5889 18.7396 22.1173 16.5604 23.0198C14.3811 23.9222 11.9832 24.1581 9.66984 23.6977C7.3565 23.2372 5.23168 22.101 3.56411 20.4329C1.89654 18.7647 0.761138 16.6395 0.301494 14.326C-0.15815 12.0125 0.0786163 9.6146 0.981848 7.43567C1.88508 5.25674 3.4142 3.39461 5.37582 2.08479C7.33744 0.774969 9.64343 0.0763014 12.0022 0.0771492C13.568 0.0771491 15.1184 0.385629 16.565 0.984968C18.0116 1.58431 19.3259 2.46276 20.4329 3.57016C21.5399 4.67755 22.4179 5.99218 23.0167 7.43896C23.6155 8.88575 23.9234 10.4363 23.9229 12.0021Z' fill='%2303CF5D'/><path d='M10.6648 16.9059C10.4932 16.905 10.3287 16.8374 10.2061 16.7173L6.66976 13.1809C6.61009 13.121 6.56281 13.0499 6.53063 12.9716C6.49844 12.8934 6.48198 12.8096 6.48218 12.725C6.48238 12.6405 6.49924 12.5568 6.53179 12.4787C6.56434 12.4006 6.61195 12.3297 6.6719 12.2701C6.73185 12.2104 6.80296 12.1631 6.88119 12.1309C6.95941 12.0987 7.0432 12.0823 7.12778 12.0825C7.21237 12.0827 7.29608 12.0995 7.37415 12.1321C7.45222 12.1646 7.52311 12.2122 7.58278 12.2722L10.639 15.3285L16.5072 8.81301C16.5619 8.74483 16.63 8.68853 16.7072 8.64753C16.7843 8.60653 16.8691 8.58171 16.9562 8.57457C17.0433 8.56743 17.131 8.57812 17.2138 8.60601C17.2967 8.63389 17.373 8.67837 17.438 8.73673C17.5031 8.79509 17.5556 8.8661 17.5923 8.94543C17.629 9.02476 17.6491 9.11074 17.6515 9.19812C17.6538 9.28549 17.6383 9.37243 17.6059 9.45362C17.5736 9.5348 17.525 9.60853 17.4631 9.6703L11.1448 16.6916C11.0865 16.7572 11.0154 16.8101 10.9357 16.8469C10.856 16.8838 10.7697 16.9039 10.6819 16.9059H10.6648Z' fill='white'/></svg>")
    no-repeat center/contain;
}

.IP-security input[type='checkbox'] {
  display: none; /* 기본 체크박스 숨기기 */
}

/* 기본 OFF 상태 */
.IP-security .toggle::after {
  content: 'OFF';
  color: #999999;
  font-weight: bold;
  margin-left: 6px;
}

/* 체크된 경우 → ON */
.IP-security input[type='checkbox']:checked + .toggle::after {
  content: 'ON';
  color: #03cf5d;
}

/* 레이아웃 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;

  .ui-component {
    display: flex;
    flex-direction: column;

    input {
      display: flex;
      flex: 1;
    }
  }

  button {
    margin-bottom: 13px;
    margin-top: 10px;
  }

  .login-hold {
    display: inline-flex;
    align-items: center;
  }

  .IP-security {
    display: inline-flex;
    align-items: center;
  }

  .status {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }
}
